#nav
ul li {
    display: inline; /*here we are seeing another value inline that allows us to keep all menu items in line */
    border: none;
    text-decoration: underline;
    text-align: center;
    width: 150px;
    list-style-type: none;
    padding: 35px 35px 35px 35px;
    margin-top: 0;
    margin-left: 20px;
    }
    



#nav
ul {
    list-style: none;  
    position: relative;}

#nav 
ul li { float: left;}

#nav
ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav
ul ul li {
    float: none;
}

#nav
ul li:hover > ul {
    display:block;
}

#nav
ul::after {
    content: "";
    display: block;
    clear: both

}



